In [12]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf
import json

In [3]:
print(f'Tensorflow version: {tf.__version__}')
print(f'Pandas version: {pd.__version__}')
print(f'Numpy version: {np.__version__}')

Tensorflow version: 2.19.0
Pandas version: 2.2.3
Numpy version: 2.0.2

In [4]:
TOP_K = 10
N_EPOCHS = 10

In [18]:
data = []
with open('json/reviews_Kindle_Store_5.json', 'r') as f:
    for line in f:
        data.append(json.loads(line))


df = pd.DataFrame(data)
df = df[['reviewerID', 'asin', 'overall']]
df.dropna(inplace=True)

In [19]:
from sklearn.preprocessing import LabelEncoder

user_enc = LabelEncoder()
item_enc = LabelEncoder()

df['user'] = user_enc.fit_transform(df['reviewerID'])
df['item'] = item_enc.fit_transform(df['asin'])

In [20]:
df

            reviewerID        asin  overall   user   item
0       A1F6404F1VG29J  B000F83SZQ      5.0   7773      0
1        AN0N05A9LIJEQ  B000F83SZQ      4.0  61894      0
2        A795DMNCJILA6  B000F83SZQ      4.0  53977      0
3       A1FV0SX13TWVXQ  B000F83SZQ      5.0   8128      0
4       A3SPTOKDG7WBLN  B000F83SZQ      4.0  50527      0
...                ...         ...      ...    ...    ...
982614  A2Y66HD4J5S7QZ  B00M13FNSS      5.0  35142  61933
982615  A17YHECC8H9NEY  B00M13FNSS      5.0   4097  61933
982616  A20KO0BPMNREJL  B00M13FNSS      5.0  18464  61933
982617  A1BQO66R6OLCCW  B00M13FNSS      5.0   5981  61933
982618  A2NRGE3CSFY2TQ  B00M13FNSS      5.0  29928  61933

[982619 rows x 5 columns]